@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #black;
}